<div class="page-wrapper">
  <main class="container">
    <div class="company-info">
      <h2 class="logo">IBGROUP</h2>
    </div>

    <div class="card">
      <h1 class="card-title">Iniciar Sesión</h1>
      <form (submit)="login()">
        <div class="form-group">
          <input
            type="text"
            placeholder="Usuario"
            [(ngModel)]="usuario"
            name="username"
            required
            class="loginInput"
          />
        </div>
        <div class="form-group">
          <div class="input-container">
            <input
              type="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              name="password"
              required
              class="loginInput"
            />
          </div>
        </div>
        <button type="submit" class="btn form-control btn-entrar">
          Iniciar sesión
        </button>
      </form>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      <a routerLink="/example">¿Olvidaste tu contraseña?</a>
    </div>
  </main>

  <footer>
    <p>&copy; IBGROUP. Todos los derechos reservados.</p>
    <div>
      <a href="#">Política de privacidad</a> |
      <a href="#">Términos de servicio</a>
    </div>
  </footer>
</div>
