<div class="main-container">
    <div class="container mt-4 pcs-content">
        <div class="filter-container mb-3 d-flex justify-content-between flex-wrap">
            <input type="text" class="form-control search-input" placeholder="Buscar por nombre..."
                [(ngModel)]="searchTerm" (input)="filterPcs()">
            <div class="d-flex align-items-center">
                <label class="me-2">Filtrar por marca:</label>
                <div class="form-check form-check-inline" *ngFor="let marca of marcas">
                    <input class="form-check-input" type="checkbox" [value]="marca"
                        (change)="onMarcaToggle(marca, $event)" [checked]="selectedMarcas.includes(marca)">
                    <label class="form-check-label">{{ marca }}</label>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Modelo - Marca</th>
                        <th>Procesador</th>
                        <th>RAM</th>
                        <th>Almacenamiento</th>
                        <th class="precio">Precio
                            <button class="btn btn-link p-0 ms-1" (click)="sortByPrecio()">
                                <span *ngIf="sortAscending">↑</span>
                                <span *ngIf="!sortAscending">↓</span>
                            </button>
                        </th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pc of paginatedConsolas">
                        <td data-label="Nombre">{{ pc.nombre }} - {{ pc.marca }}</td>
                        <td data-label="Procesador">{{ pc.procesador }}</td>
                        <td data-label="RAM">{{ pc.ram }} GB</td>
                        <td data-label="Almacenamiento">{{ pc.almacenamiento }} GB {{ pc.tipo_disco }}</td>
                        <td data-label="Precio">S/{{ pc.precio }}</td>
                        <td data-label="Estado">
                            <input class="form-check-input" type="checkbox" [checked]="pc.estado === 1"
                                (change)="onpcToggle($event, pc)">
                        </td>
                        <td data-label="Acciones" class="acciones">
                            <button class="btn btn-success" (click)="openModal(pc)">Ver detalles</button>
                            <button class="btn btn-warning" (click)="openModalEdit(pc)">Editar</button>
                            <button class="btn btn-danger" (click)="deletePc(pc.id)">Eliminar</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="add-pc-container">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pcModal">
                    <i class="bi bi-plus-circle"></i> Agregar nueva pc
                </button>
                <a class="btn btn-success" [routerLink]="['/stock_pcs']" routerLinkActive="router-link-active">
                    <i class="bi bi-plus-circle"></i> Stock
                </a>
            </div>

            <nav *ngIf="totalPages() > 1">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="page === 1">
                        <button class="page-link" (click)="changePage(page - 1)">Anterior</button>
                    </li>
                    <li class="page-item" *ngFor="let p of [].constructor(totalPages()); let i = index"
                        [class.active]="page === i + 1">
                        <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
                    </li>
                    <li class="page-item" [class.disabled]="page === totalPages()">
                        <button class="page-link" (click)="changePage(page + 1)">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



<div class="modal fade" id="pcModal" tabindex="-1" aria-labelledby="pcModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00911f;">
                <h1 class="modal-title fs-5" style="color: white;" id="pcModalLabel">Agregar PC</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createPc()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" [(ngModel)]="newPc.nombre" name="nombre"
                                    placeholder="Nombre" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" [(ngModel)]="newPc.marca" name="marca"
                                    placeholder="Marca" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" [(ngModel)]="newPc.procesador" name="procesador"
                                    placeholder="Procesador">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" [(ngModel)]="newPc.ram" name="ram"
                                    placeholder="RAM (GB)">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" [(ngModel)]="newPc.almacenamiento"
                                    name="almacenamiento" placeholder="Almacenamiento (GB)">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <input type="text" class="form-control" [(ngModel)]="newPc.gpu" name="gpu"
                                    placeholder="GPU">
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" [(ngModel)]="newPc.sistema_operativo"
                                    name="sistema_operativo" placeholder="Sistema Operativo">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" [(ngModel)]="newPc.precio" name="precio"
                                    placeholder="Precio">
                            </div>
                            <div class="mb-3">
                                <input type="number" class="form-control" [(ngModel)]="newPc.stock" name="stock"
                                    placeholder="Stock">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Crear PC</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pcModalD" tabindex="-1" aria-labelledby="pcModalLaber" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00911f;">
                <h5 class="modal-title text-white" id="pcModalLaber">
                    {{ selectedPc?.nombre }} - {{ selectedPc?.marca }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Especificaciones de la laptop -->
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6"><strong>Procesador:</strong> {{ selectedPc?.procesador }}</div>
                            <div class="col-md-6"><strong>RAM:</strong> {{ selectedPc?.ram }} GB</div>
                            <div class="col-md-6"><strong>Almacenamiento:</strong> {{ selectedPc?.almacenamiento }}
                                GB</div>
                            <div class="col-md-6"><strong>GPU:</strong> {{ selectedPc?.gpu }}</div>
                            <div class="col-md-6"><strong>Sistema Operativo:</strong> {{
                                selectedPc?.sistema_operativo }}</div>
                            <div class="col-md-6"><strong>Precio:</strong> {{ selectedPc?.precio | currency }}</div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div *ngIf="selectedPc?.images?.length > 0">
                            <img [src]="selectedPc?.images[0]?.pc_image_url" alt="Imagen de {{ selectedPc?.modelo }}"
                                class="img-fluid rounded">
                        </div>
                        <div *ngIf="!selectedPc?.images?.length">
                            <p>No hay imagen disponible</p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center" *ngIf="!selectedPc?.images?.length">
                        <h5>Subir Imagen Principal</h5>
                        <div class="image-preview mb-2">
                            <img *ngIf="imagePreview" [src]="imagePreview" alt="Previsualización"
                                class="img-fluid rounded" />
                        </div>
                        <input type="file" (change)="selectFile($event)" class="form-control mb-2" />
                        <button class="btn btn-primary w-100" (click)="uploadImage(selectedPc?.id_pc)">
                            Subir Imagen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editPcModal" tabindex="-1" aria-labelledby="editPcModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #00911f;">
                <h5 class="modal-title" style="color: white;" id="editPcModalLabel">Editar PC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updatePc()">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.nombre" name="nombre">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Marca</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.marca" name="marca">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Procesador</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.procesador"
                                name="procesador">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">RAM (GB)</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.ram" name="ram">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Almacenamiento (GB)</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.almacenamiento"
                                name="almacenamiento">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">GPU</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.gpu" name="gpu">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Sistema Operativo</label>
                            <input type="text" class="form-control" [(ngModel)]="selectedPc.sistema_operativo"
                                name="sistema_operativo">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Precio (S/)</label>
                            <input type="number" class="form-control" [(ngModel)]="selectedPc.precio" name="precio">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" [(ngModel)]="selectedPc.stock" name="stock">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>